@use "~/@fontsource/jetbrains-mono/scss/mixins" as Mono;

// Include both normal and bold weights
@include Mono.fontFace($fontDir: "../webfonts", $weight: 400);
@include Mono.fontFace($fontDir: "../webfonts", $weight: 700);

$fa-font-path: "../webfonts";
@import "~/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~/@fortawesome/fontawesome-free/scss/solid.scss";
@import "~/@fortawesome/fontawesome-free/scss/brands.scss";

html,
body,
.container {
  font-family: "JetBrains Mono", monospace;
}

.jumbotron .container {
  font-family: "JetBrains Mono", monospace;
}
