<nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top">
  <div class="container">
    <a href="{{ url_for('challenges.listing') }}" class="navbar-brand">
      {% if Configs.ctf_logo %}
        <img
            class="img-responsive ctf_logo"
            src="{{ url_for('views.files', path=Configs.ctf_logo) }}"
            alt="{{ Configs.ctf_name }}"
            height="50"
        >
      {% else %}
        {{ Configs.ctf_name }}
      {% endif %}
    </a>

    <button
        class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#base-navbars"
        aria-controls="base-navbars" aria-expanded="false" aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="base-navbars">
      <ul class="navbar-nav me-auto">
        {% for page in Plugins.user_menu_pages %}
          <li class="nav-item">
            <a class="nav-link" href="{{ page.route }}" {% if page.link_target %}target="{{ page.link_target }}"{% endif %}>
              {{ page.title }}
            </a>
          </li>
        {% endfor %}

        {% if Configs.account_visibility != 'admins' and Configs.score_visibility != 'admins' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('scoreboard.listing') }}">
              {% trans %}Scoreboard{% endtrans %}
            </a>
          </li>
        {% endif %}
      </ul>

      <hr class="d-sm-flex d-md-flex d-lg-none">

      <ul class="navbar-nav ms-auto d-flex align-items-center gap-4 flex-wrap">
        {% if authed() %}

          {% if is_admin() %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.view') }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans %}Admin Panel{% endtrans %}">
                <i class="fas fa-wrench"></i>
              </a>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('views.notifications') }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans %}Notifications{% endtrans %}">
              <span class="position-relative">
                <i class="fas fa-bell"></i>
                <span x-data x-show="$store.unread_count > 0" x-text="$store.unread_count" class="badge rounded-pill bg-danger position-absolute top-0 start-100 translate-middle"></span>
              </span>
            </a>
          </li>

          {% if Configs.user_mode == "teams" %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('teams.private') }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans %}Team{% endtrans %}">
                <i class="fas fa-users"></i>
              </a>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.private') }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans %}Profile{% endtrans %}">
              <i class="fas fa-user-circle"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('views.settings') }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans %}Settings{% endtrans %}">
              <i class="fas fa-cogs"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans %}Logout{% endtrans %}">
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
        {% else %}

          {% if registration_visible() %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.register') }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans %}Register{% endtrans %}">
                <i class="fas fa-user-plus"></i>
              </a>
            </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% trans %}Login{% endtrans %}">
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>